<% content_for :title do %>
  communities
<% end %>

<% content_for :header_info do %>
  <p role="button" class="h4 mb-2 mt-2 d-flex align-items-center"><%= link_to "Reddit", root_path, class: "text-decoration-none" %></p>
<% end %>

<div class="row">
  <div class="col-sm-8">
    <% if @communities.size > 0 %>
      <h2>All Communities</h2>
      <% @communities.each do |community| %>
        <div class="card p-3 mb-3">
          <h4 class="mb-0">
            <%= link_to community.url, community %>
          </h4>
          <p><%= community.summary %></p>
        </div>
      <% end %>
    <% else %>
      <h4>No Communities</h4>
    <% end %>
  </div>
  <div class="col-sm-4">
    <% if account_signed_in? %>
      <div class="d-flex flex-column align-items-center">
        <div class="mb-2"><%= link_to "Create New Community", new_community_path, class: "btn btn-outline-primary" %></div>
        <div><%= pluralize @communities_count, "community" %></div>
      </div>
    <% end %>
  </div>
</div>
