<% content_for :title do %>
  communities
<% end %>
<% content_for :header_info do %>
  <p role="button" class="h4 mb-2 mt-2 d-flex align-items-center"><%= link_to "Reddit", root_path, class: "text-decoration-none" %></p>
  <div class="d-flex mx-2 align-items-center fw-bold">communities</div>
<% end %>
<div class="row">
  <div class="d-sm-none">
    <div class="mb-2"><%= link_to "Create New Community", new_community_path, class: "w-100 btn btn-primary" %></div>
  </div>
  <div class="col-sm-8">
    <% if @communities.size > 0 %>
      <% @communities.each do |community| %>
        <div class="card p-3 pb-1 mb-2">
          <% if account_signed_in? %>
            <% if Subscription.where(community_id: community.id, account_id: current_account.id).length > 0 %>
              <div class="d-flex flex-row mb-2">
                <span><%= button_to "leave", subscription_path(community.id), method: :delete, class: "btn btn-sm btn-danger text-decoration-none", style:"font-size: 70%" %></span>
                <h4 class="mb-0 mx-2">
                  <%= link_to community.url, community %>
                </h4>
              </div>
            <% else %>
              <div class="d-flex flex-row mb-2">
                <span><%= button_to "join", subscription_path(community.id), method: :create, class: "btn btn-sm btn-success text-decoration-none", style:"font-size: 70%" %></span>
                <h4 class="mb-0 mx-2">
                  <%= link_to community.url, community %>
                </h4>
              </div>
            <% end %>
          <% end %>
          <div class="card p-2">
            <p class="mb-0"><%= community.summary %></p>
          </div>
          <div>
            <small class="post-small-links"><%= pluralize community.subscriptions.count, "subscriber" %></small>,
            <small class=" post-small-links">a community since <%= community.created_at.strftime("%m/%d/%Y") %></small>
          </div>
        </div>
      <% end %>
    <% else %>
      <h4>No Communities</h4>
    <% end %>
  </div>
  <div class="col-sm-4 d-none d-sm-inline">
    <% if account_signed_in? %>
      <div class="d-flex flex-column align-items-center">
        <div class="mb-2"><%= link_to "Create New Community", new_community_path, class: "btn btn-primary" %></div>
        <div>Home Feed Communities (<%= @subscriptions.count %>)</div>
      </div>
    <% end %>
    <div class="list-group">
      <% @subscriptions.each do |subscription| %>
        <li class="list-group-item d-flex">
          <% if account_signed_in? %>
            <span><%= button_to "leave", subscription_path(subscription.community.id), method: :delete, class: "btn btn-sm btn-danger", style:"font-size: 70%" %></span>
          <% end %>
          <%= link_to subscription.community.url.capitalize, subscription.community, class: "text-decoration-none mx-2"  %>
        </li>
      <% end %>
    </div>
  </div>
</div>
