<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if cookies[:moon] == "dark mode off" %>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% else %>
      <%= stylesheet_link_tag "application_dark", "data-turbo-track": "reload" %>
    <% end %>
    <%= javascript_include_tag :jquery, :jquery_ujs %>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>
  <body>
    <%= render partial: "layouts/community_header" %>
    <%= render partial: "layouts/header" %>
    <section style="background-color: #EBEBEB">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 pt-3">
            <script src="https://kit.fontawesome.com/e66ae3e757.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
            <%= yield %>
          </div>
        </div>
      </div>
    </section>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
